body{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.watch{
    width: 400px;
    height: fit-content;
    background-color: wheat;
    border-radius: 8px;
    margin: 15px;
}
.watch main{
    font-size: 6rem;
    display: flex;
    justify-content: center;
}
.watch .btns{
     display: flex;
     width: 400px;
    justify-content: space-evenly;
}
.watch .btns button{
    padding: 5px 10px;
    text-align: center;
    font-size: 18px;
}
footer{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 15px;
}
#laps label{
    display: block;
    font-size: 30px;
}
#laps{
    margin-bottom:10px ;
    display: flex;
    flex-direction: column;
    text-align: center;
}
button{

}
